pip==18.1
ipykernel
bumpversion==0.5.3
wheel==0.38.1
watchdog==0.9.0
flake8==3.5.0
tox==3.5.2
coverage==4.5.1
Sphinx==1.8.1
nbsphinx
twine==1.12.1
sphinxcontrib-napoleon
sphinx_rtd_theme
pandoc
pandas
pulp
networkx
numpy
tox-travis
matplotlib
sphinx_rtd_theme
pytest